* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
* body {
  font-size: 14px;
  line-height: 1.42857143;
  overflow-x: hidden;
  position: relative;
  left: 0;
}
* button {
  outline: none;
}
* a:hover {
  text-decoration: none;
}
* a:active {
  background-color: transparent;
}
* h1,
* h2,
* h3,
* h4,
* h5 {
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 1.1;
  font-weight: 500;
}

@keyframes opacar {
  to {
    filter: opacity(0.2);
  }
}
@keyframes latido {
  from {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  10% {
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
  }
  20% {
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
  }
  30% {
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
  }
  40% {
    border-top: 6px solid black;
    border-left: 6px solid black;
    border-right: 6px solid black;
  }
  50% {
    border-top: 7px solid black;
    border-left: 7px solid black;
    border-right: 7px solid black;
  }
  60% {
    border-top: 6px solid black;
    border-left: 6px solid black;
    border-right: 6px solid black;
  }
  70% {
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
  }
  80% {
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
  }
  90% {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
  to {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
}
@keyframes rebote {
  0% {
    position: absolute;
    top: 150px;
  }
  25% {
    position: absolute;
    top: 150px;
  }
  50% {
    position: absolute;
    top: 120px;
  }
  75% {
    position: absolute;
    top: 120px;
  }
  100% {
    position: absolute;
    top: 150px;
  }
}
@keyframes rebote2 {
  0% {
    position: absolute;
    top: 475px;
  }
  25% {
    position: absolute;
    top: 475px;
  }
  50% {
    position: absolute;
    top: 455px;
  }
  75% {
    position: absolute;
    top: 455px;
  }
  100% {
    position: absolute;
    top: 475px;
  }
}
@keyframes reboteSmart {
  0% {
    position: absolute;
    top: 130px;
  }
  25% {
    position: absolute;
    top: 130px;
  }
  50% {
    position: absolute;
    top: 110px;
  }
  75% {
    position: absolute;
    top: 110px;
  }
  100% {
    position: absolute;
    top: 130px;
  }
}
@keyframes rebote2Smart {
  0% {
    position: absolute;
    top: 345px;
  }
  25% {
    position: absolute;
    top: 345px;
  }
  50% {
    position: absolute;
    top: 325px;
  }
  75% {
    position: absolute;
    top: 325px;
  }
  100% {
    position: absolute;
    top: 345px;
  }
}
.menuBar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}
.menuBar li h3 {
  font-size: 1.17em;
  text-transform: capitalize;
  margin: 0px 7px;
}
.menuBar li a {
  font-family: GENISO;
  color: black;
  text-decoration: none;
}
.menuBar li a:hover {
  text-shadow: 1px 1px 0px #f9c6c9;
  transition: 0.2s;
}

.menuPrincipal {
  opacity: 0.6;
  position: fixed;
  top: 0;
  color: white;
  width: 100%;
  height: 50px;
  background-color: #b4b4b4;
}
.menuPrincipal:hover {
  transition: 0.5s;
  opacity: 1;
}
.menuPrincipal nav {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.menuPrincipal nav a {
  color: white;
}
.menuPrincipal nav a:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all 0.7s;
}
.menuPrincipal nav a:hover:after {
  width: 100%;
  background: white;
}

.carrito-img {
  margin-right: 20px;
  width: 50px;
}
.carrito-img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .menuPrincipal {
    font-size: 8px;
    opacity: 1;
    position: fixed;
    top: 0;
    color: white;
    width: 100%;
    height: 30px;
    background-color: #b4b4b4;
  }
  .menuPrincipal:hover {
    transition: 0.5s;
    opacity: 1;
  }
  .menuPrincipal nav {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .menuPrincipal nav a {
    color: white;
  }
  .menuPrincipal nav a:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all 0.7s;
  }
  .menuPrincipal nav a:hover:after {
    width: 100%;
    background: white;
  }

  .carrito-img {
    margin-right: 20px;
    width: 30px;
  }
  .carrito-img:hover {
    transform: scale(1.1);
  }
}
.body-customize {
  background-color: white;
}

.headerInstructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: GENISO;
  text-align: center;
}
.headerInstructions h1, .headerInstructions h2 {
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
  color: #b5ecf8;
}

.containerCustomize {
  margin-top: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bigRainbow {
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.four-colors {
  display: none;
}

.six-colors {
  display: none;
}

.eight-colors {
  display: none;
}

.colors {
  font-family: GENISO;
  text-align: center;
  width: 60%;
  height: 250px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.parent div {
  width: 50%;
  height: auto;
  min-width: 25px;
  min-height: 25px;
  max-width: 100px;
  max-height: 100px;
  border: 1px solid white;
}

.div1 {
  grid-area: 1/1/2/2;
  border: 2px solid black;
  background-color: #ff5d8f;
  width: 10px;
  height: 10px;
}

.div2 {
  grid-area: 1/2/2/3;
  background-color: #ff97b7;
  width: 10px;
  height: 10px;
}

.div3 {
  grid-area: 1/3/2/4;
  background-color: #ffacc5;
  width: 10px;
  height: 10px;
}

.div4 {
  grid-area: 2/1/3/2;
  background-color: #00b4d8;
  width: 10px;
  height: 10px;
}

.div5 {
  grid-area: 2/2/3/3;
  background-color: #48cae4;
  width: 10px;
  height: 10px;
}

.div6 {
  grid-area: 2/3/3/4;
  background-color: #90e0ef;
  width: 10px;
  height: 10px;
}

.div7 {
  grid-area: 3/1/4/2;
  background-color: #fae588;
  width: 10px;
  height: 10px;
}

.div8 {
  grid-area: 3/2/4/3;
  background-color: #fcefb4;
  width: 10px;
  height: 10px;
}

.div9 {
  grid-area: 3/3/4/4;
  background-color: #fdf8e1;
  width: 10px;
  height: 10px;
}

.div10 {
  grid-area: 4/1/5/2;
  background-color: #93ff96;
  width: 10px;
  height: 10px;
}

.div11 {
  grid-area: 4/2/5/3;
  background-color: #b2ffa8;
  width: 10px;
  height: 10px;
}

.div12 {
  grid-area: 4/3/5/4;
  background-color: #d0ffb7;
  width: 10px;
  height: 10px;
}

.div13 {
  grid-area: 5/1/6/2;
  background-color: #a564d3;
  width: 10px;
  height: 10px;
}

.div14 {
  grid-area: 5/2/6/3;
  background-color: #b66ee8;
  width: 10px;
  height: 10px;
}

.div15 {
  grid-area: 5/3/6/4;
  background-color: #c879ff;
  width: 10px;
  height: 10px;
}

.div16 {
  grid-area: 1/4/2/5;
  background-color: #56dcc4;
  width: 10px;
  height: 10px;
}

.div17 {
  grid-area: 1/5/2/6;
  background-color: #78e3d0;
  width: 10px;
  height: 10px;
}

.div18 {
  grid-area: 1/6/2/7;
  background-color: #89e6d5;
  width: 10px;
  height: 10px;
}

.div19 {
  grid-area: 2/4/3/5;
  background-color: #d6cbc2;
  width: 10px;
  height: 10px;
}

.div20 {
  grid-area: 2/5/3/6;
  background-color: #ded8ce;
  width: 10px;
  height: 10px;
}

.div21 {
  grid-area: 2/6/3/7;
  background-color: #cdc9cf;
  width: 10px;
  height: 10px;
}

.div22 {
  grid-area: 3/4/4/5;
  background-color: #6c757d;
  width: 10px;
  height: 10px;
}

.div23 {
  grid-area: 3/5/4/6;
  background-color: #adb5bd;
  width: 10px;
  height: 10px;
}

.div24 {
  grid-area: 3/6/4/7;
  background-color: #ced4da;
  width: 10px;
  height: 10px;
}

.div25 {
  grid-area: 4/4/5/5;
  background-color: #815f51;
  width: 10px;
  height: 10px;
}

.div26 {
  grid-area: 4/5/5/6;
  background-color: #aa8b7e;
  width: 10px;
  height: 10px;
}

.div27 {
  grid-area: 4/6/5/7;
  background-color: #d3b6ab;
  width: 10px;
  height: 10px;
}

.div28 {
  grid-area: 5/4/6/5;
  background-color: #03045e;
  width: 10px;
  height: 10px;
}

.div29 {
  grid-area: 5/5/6/6;
  background-color: #023e8a;
  width: 10px;
  height: 10px;
}

.div30 {
  grid-area: 5/6/6/7;
  background-color: #0077b6;
  width: 10px;
  height: 10px;
}

.div31 {
  grid-area: 1/7/2/8;
  background-color: #c879ff;
  width: 10px;
  height: 10px;
}

.div32 {
  grid-area: 1/8/2/9;
  background-color: #c879ff;
  width: 10px;
  height: 10px;
}

.div33 {
  grid-area: 1/9/2/10;
  background-color: #c879ff;
  width: 10px;
  height: 10px;
}

.div34 {
  grid-area: 2/7/3/8;
  background-color: #c879ff;
  width: 10px;
  height: 10px;
}

.div35 {
  grid-area: 2/8/3/9;
  background-color: #c879ff;
  width: 10px;
  height: 10px;
}

.div36 {
  grid-area: 2/9/3/10;
  background-color: #c879ff;
  width: 10px;
  height: 10px;
}

.div37 {
  grid-area: 3/7/4/8;
  background-color: #c879ff;
  width: 10px;
  height: 10px;
}

.div38 {
  grid-area: 3/8/4/9;
  background-color: #c879ff;
  width: 10px;
  height: 10px;
}

.div39 {
  grid-area: 3/9/4/10;
  background-color: #c879ff;
  width: 10px;
  height: 10px;
}

.div40 {
  grid-area: 4/7/5/8;
  background-color: #c879ff;
  width: 10px;
  height: 10px;
}

.div41 {
  grid-area: 4/8/5/9;
  background-color: #c879ff;
  width: 10px;
  height: 10px;
}

.div42 {
  grid-area: 4/9/5/10;
  background-color: #c879ff;
  width: 10px;
  height: 10px;
}

.div43 {
  grid-area: 5/7/6/8;
  background-color: #c879ff;
  width: 10px;
  height: 10px;
}

.div44 {
  grid-area: 5/8/6/9;
  background-color: #c879ff;
  width: 10px;
  height: 10px;
}

.div45 {
  grid-area: 5/9/6/10;
  background-color: #c879ff;
  width: 10px;
  height: 10px;
}

.colorPalette {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pendants {
  font-family: GENISO;
  text-align: center;
  border: 1px solid black;
  width: 60%;
  height: auto;
}

.semi-circulo-blanco {
  z-index: 11;
  top: 348px;
  position: absolute;
  width: 25px;
  height: 37px;
  border-top: 2px solid #555;
  border-right: 2px solid #555;
  border-left: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}

.semi-circulo {
  z-index: 10;
  top: 285px;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}

.semi-circulo2 {
  z-index: 9;
  top: 234px;
  position: absolute;
  width: 200px;
  height: 151px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 160px 160px 0 0;
}

.semi-circulo3 {
  z-index: 8;
  top: 176px;
  position: absolute;
  width: 300px;
  height: 209px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 215px 215px 0 0;
}

.semi-circulo4 {
  z-index: 7;
  top: 115px;
  position: absolute;
  width: 400px;
  height: 270px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
}

.semi-circulo-blanco-6 {
  z-index: 11;
  top: 348px;
  position: absolute;
  width: 25px;
  height: 37px;
  border-top: 2px solid #555;
  border-right: 2px solid #555;
  border-left: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}

.semi-circulo-six {
  z-index: 6;
  top: 297px;
  position: absolute;
  width: 90px;
  height: 88px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}

.semi-circulo2-six {
  z-index: 5;
  top: 259px;
  position: absolute;
  width: 159px;
  height: 126px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 160px 160px 0 0;
}

.semi-circulo3-six {
  z-index: 4;
  top: 217px;
  position: absolute;
  width: 221px;
  height: 168px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 215px 215px 0 0;
}

.semi-circulo4-six {
  z-index: 3;
  top: 176px;
  position: absolute;
  width: 290px;
  height: 209px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 215px 215px 0 0;
}

.semi-circulo5-six {
  z-index: 2;
  top: 145px;
  position: absolute;
  width: 354px;
  height: 240px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
}

.semi-circulo6-six {
  z-index: 1;
  top: 115px;
  position: absolute;
  width: 400px;
  height: 270px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
}

.semi-circulo-blanco-8 {
  z-index: 11;
  top: 348px;
  position: absolute;
  width: 25px;
  height: 37px;
  border-top: 2px solid #555;
  border-right: 2px solid #555;
  border-left: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}

.semi-circulo-eight {
  z-index: 8;
  top: 308px;
  position: absolute;
  width: 75px;
  height: 77px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}

.semi-circulo2-eight {
  z-index: 7;
  top: 279px;
  position: absolute;
  width: 127px;
  height: 106px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 160px 160px 0 0;
}

.semi-circulo3-eight {
  z-index: 6;
  top: 246px;
  position: absolute;
  width: 178px;
  height: 139px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 215px 215px 0 0;
}

.semi-circulo4-eight {
  z-index: 5;
  top: 216px;
  position: absolute;
  width: 230px;
  height: 169px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 215px 215px 0 0;
}

.semi-circulo5-eight {
  z-index: 4;
  top: 190px;
  position: absolute;
  width: 280px;
  height: 195px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 215px 215px 0 0;
}

.semi-circulo6-eight {
  z-index: 3;
  top: 161px;
  position: absolute;
  width: 332px;
  height: 224px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
}

.semi-circulo7-eight {
  z-index: 2;
  top: 138px;
  position: absolute;
  width: 367px;
  height: 247px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
}

.semi-circulo8-eight {
  z-index: 1;
  top: 115px;
  position: absolute;
  width: 400px;
  height: 270px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
}

.modalInstrucciones {
  display: flex;
}

.botonConfirmar {
  color: black;
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
  color: white;
  background-color: #6ccee4;
  padding: 3px;
  margin: 43px;
}
.botonConfirmar:hover {
  cursor: pointer;
}

.botonConfirmar2 {
  color: black;
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
  color: white;
  background-color: #6ccee4;
  padding: 3px;
  margin: 43px;
}
.botonConfirmar2:hover {
  cursor: pointer;
}

.modalContainer2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 37px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer2 .modal-content2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid lightgray;
  border-top: 10px solid #58abb7;
  width: 60%;
}

.modalContainer2 .modal-content3 {
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 290px;
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid lightgray;
  border-top: 10px solid #58abb7;
  width: 60%;
}

.modalContainer {
  display: block;
  position: fixed;
  z-index: 2;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modalContainer .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #fefefe;
  padding-bottom: 100px;
  padding-top: 100px;
  margin: auto;
  border: 1px solid lightgray;
  width: 80%;
  text-align: center;
}

.titulo-modal {
  margin-bottom: 20px;
}

.button-modal {
  color: black;
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
  background-color: #e5989b;
  margin: 3px;
  padding: 5px;
  border-radius: 3px;
  transition: background-color 250ms, box-shadow 250ms;
}
.button-modal:hover {
  background-color: #d18a8d;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.6);
}

.seleccionado {
  animation: latido 1.5s infinite;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

.bordeRestante {
  animation: latido 1.5s infinite;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.arrowCustomize {
  display: none;
  margin-left: 180px;
  z-index: 1;
  top: 161px;
  position: absolute;
  width: 100px;
  height: 100px;
  animation: rebote 0.8s infinite;
  transform: rotate(45deg);
}

.arrowCustomize2 {
  display: none;
  margin-top: 66px;
  z-index: 20;
  position: absolute;
  width: 100px;
  height: 100px;
  animation: rebote2Smart 0.8s infinite;
  transform: rotate(45deg);
}

.botonesConfirmacion {
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.botonesConfirmacion h4 {
  margin: 5px;
  border: 0.5px solid black;
  border-radius: 3px;
  padding: 2px;
}
.botonesConfirmacion h4:hover {
  cursor: pointer;
}

@media screen and (min-width: 100px) and (max-width: 415px) {
  .colors {
    font-family: GENISO;
    text-align: center;
    width: 60%;
    height: 180px;
  }

  .containerCustomize {
    margin-top: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .arrowCustomize {
    margin-left: 135px;
    z-index: 20;
    top: 130px;
    position: absolute;
    width: 100px;
    height: 100px;
    animation: reboteSmart 0.8s infinite;
    transform: rotate(45deg);
  }

  .arrowCustomize2 {
    margin-top: 1px;
    margin-left: 135px;
    z-index: 20;
    top: 345px;
    position: absolute;
    width: 100px;
    height: 100px;
    animation: rebote2Smart 0.8s infinite;
    transform: rotate(45deg);
  }

  .semi-circulo-blanco {
    z-index: 11;
    top: 305px;
    position: absolute;
    width: 22px;
    height: 26px;
    border-top: 2px solid #555;
    border-right: 2px solid #555;
    border-left: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
  }

  .semi-circulo {
    z-index: 10;
    top: 259px;
    position: absolute;
    width: 85px;
    height: 72px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
  }

  .semi-circulo2 {
    z-index: 9;
    top: 208px;
    position: absolute;
    width: 151px;
    height: 123px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 160px 160px 0 0;
  }

  .semi-circulo3 {
    z-index: 8;
    top: 156px;
    position: absolute;
    width: 228px;
    height: 175px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 215px 215px 0 0;
  }

  .semi-circulo4 {
    z-index: 7;
    top: 104px;
    position: absolute;
    width: 305px;
    height: 227px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 200px 200px 0 0;
  }

  .semi-circulo-blanco-6 {
    z-index: 11;
    top: 287px;
    position: absolute;
    width: 25px;
    height: 24px;
    border-top: 2px solid #555;
    border-right: 2px solid #555;
    border-left: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
  }

  .semi-circulo-six {
    z-index: 6;
    top: 249px;
    position: absolute;
    width: 75px;
    height: 62px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
  }

  .semi-circulo2-six {
    z-index: 5;
    top: 217px;
    position: absolute;
    width: 123px;
    height: 94px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 160px 160px 0 0;
  }

  .semi-circulo3-six {
    z-index: 4;
    top: 187px;
    position: absolute;
    width: 166px;
    height: 124px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 215px 215px 0 0;
  }

  .semi-circulo4-six {
    z-index: 3;
    top: 158px;
    position: absolute;
    width: 212px;
    height: 153px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 215px 215px 0 0;
  }

  .semi-circulo5-six {
    z-index: 2;
    top: 133px;
    position: absolute;
    width: 260px;
    height: 178px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 200px 200px 0 0;
  }

  .semi-circulo6-six {
    z-index: 1;
    top: 107px;
    position: absolute;
    width: 307px;
    height: 204px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 200px 200px 0 0;
  }

  .semi-circulo-blanco-8 {
    z-index: 11;
    top: 302px;
    position: absolute;
    width: 17px;
    height: 22px;
    border-top: 2px solid #555;
    border-right: 2px solid #555;
    border-left: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
  }

  .semi-circulo-eight {
    z-index: 8;
    top: 278px;
    position: absolute;
    width: 47px;
    height: 46px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
  }

  .semi-circulo2-eight {
    z-index: 7;
    top: 256px;
    position: absolute;
    width: 83px;
    height: 68px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 160px 160px 0 0;
  }

  .semi-circulo3-eight {
    z-index: 6;
    top: 236px;
    position: absolute;
    width: 117px;
    height: 88px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 215px 215px 0 0;
  }

  .semi-circulo4-eight {
    z-index: 5;
    top: 213px;
    position: absolute;
    width: 153px;
    height: 111px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 215px 215px 0 0;
  }

  .semi-circulo5-eight {
    z-index: 4;
    top: 191px;
    position: absolute;
    width: 187px;
    height: 133px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 215px 215px 0 0;
  }

  .semi-circulo6-eight {
    z-index: 3;
    top: 164px;
    position: absolute;
    width: 223px;
    height: 160px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 200px 200px 0 0;
  }

  .semi-circulo7-eight {
    z-index: 2;
    top: 136px;
    position: absolute;
    width: 258px;
    height: 188px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 200px 200px 0 0;
  }

  .semi-circulo8-eight {
    z-index: 1;
    top: 108px;
    position: absolute;
    width: 294px;
    height: 216px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 200px 200px 0 0;
  }

  .seleccionado {
    animation: latido 1.5s infinite;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
  }

  .modalContainer2 .modal-content2 {
    display: flex;
    justify-content: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: 10px solid #58abb7;
    width: 60%;
  }

  .modalContainer2 .modal-content3 {
    display: none;
    margin-left: 72px;
    background-color: #fefefe;
    margin-top: 200px;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: 10px solid #58abb7;
    width: 60%;
  }

  .botonesConfirmacion {
    justify-content: space-around;
    display: flex;
    align-items: center;
  }
  .botonesConfirmacion h4 {
    margin: 5px;
    border: 2px solid black;
    border-radius: 3px;
    padding: 2px;
  }
}
.body-market {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.market {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.menu-bar-market {
  margin: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.menu-items {
  padding: 3px;
  margin: 2px;
  font-size: 16px;
  text-align: center;
  background-color: #b4b4b4;
  border: 2px solid #b4b4b4;
  color: white;
}
.menu-items:hover {
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: white;
  color: #b4b4b4;
  border: 2px solid #b4b4b4;
}

.img-200 {
  width: 200px;
}

.market-items {
  color: #312926;
  width: 220px;
  height: 360px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 3px;
}

.items-container {
  margin: 20px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button-market-item {
  margin-bottom: 8px;
  padding: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background-color: white;
  border: 1px solid #e8dada;
  border-radius: 3px;
}
.button-market-item:hover {
  cursor: pointer;
  color: white;
  background-color: #0000005b;
}

.button-carrito-item {
  color: aqua;
}

.carrito-item {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.carrito-item img {
  width: 80px;
  margin-bottom: 10px;
}
.carrito-item h4 {
  margin: 10px;
}

.img-carrito {
  width: 80px;
  margin: 10px;
}

.h4-carrito {
  display: block;
  margin: 10px;
}

.contenedorCarrito {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.carrito {
  display: none;
  flex-direction: column;
  background-color: white;
  /* height: 100vh; */
  /* width: 50vh; */
  /* width: 49%; */
  /* margin-left: 574px; */
  position: fixed;
  top: 50px;
  right: 0;
}

.cantidad2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sumarCantidad {
  border: 1px solid black;
  margin: 1 px;
}

.restarCantidad {
  border: 1px solid black;
  margin: 1px;
}

.cantidad {
  display: none;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #b4b4b4;
}

@media only screen and (max-width: 600px) {
  .carrito {
    display: none;
    flex-direction: column;
    background-color: white;
    width: 90%;
    margin-left: 574px;
    position: fixed;
    top: 30px;
    right: 0;
  }

  .img-carrito {
    width: 50px;
    margin: 10px;
  }

  .h4-carrito {
    margin: 10px;
  }

  .cantidad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .menu-items {
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    color: white;
  }
  .menu-items:hover {
    cursor: pointer;
    color: black;
    box-shadow: 1px 1px 5px white;
  }

  .market {
    margin-top: 35px;
  }

  .img-200 {
    overflow: hidden;
    width: 100%;
  }

  .market-items {
    margin: 7px;
    width: 140px;
    height: 270px;
  }

  .items-container {
    margin: 20px auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .items-container img:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
  }
}
/* MENU SLIDE */
.cbp-spmenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.822);
  position: fixed;
}

.cbp-spmenu h4 {
  color: #f4acb7;
}

.cbp-spmenu-horizontal {
  width: 100%;
  height: 50px;
  left: 0;
  z-index: 6;
  overflow: hidden;
}

.cbp-spmenu-top {
  top: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/* TRANSITIONS */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* FIN MENU SLIDE */
@media only screen and (max-width: 520px) {
  .objeto1, .objeto2, .objeto3, .objeto4, .objeto5, .objeto6 {
    width: 35px;
    height: 35px;
    background-size: cover;
  }
}
@media only screen and (max-width: 890px) {
  .cbp-spmenu .objeto1 h4 {
    font-size: 12px;
  }

  .cbp-spmenu .objeto2 h4 {
    font-size: 12px;
  }

  .cbp-spmenu .objeto3 h4 {
    font-size: 12px;
  }

  .cbp-spmenu .objeto4 h4 {
    font-size: 12px;
  }

  .cbp-spmenu .objeto5 h4 {
    font-size: 12px;
  }

  .cbp-spmenu .objeto6 h4 {
    font-size: 12px;
  }
}
/* BOTON MENU */
.hamburger {
  position: fixed;
  top: -3px;
  right: 0px;
  z-index: 7;
  padding: 18px 1px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.8;
}

.hamburger.is-active:hover {
  opacity: 0.8;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: black;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

/* FIN BOTON MENU */
@media only screen and (max-width: 520px) {
  .hamburger {
    padding: 2px 1px;
  }

  .cbp-spmenu-horizontal {
    width: 100%;
    height: 38px;
    left: 0;
    z-index: 6;
    overflow: hidden;
  }
}
/* ---------- FOOTER ---------- */
.footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  color: black;
  background-color: #b4b4b4;
}

.redes {
  width: 100%;
  height: 33%;
  display: block;
  text-align: center;
  padding-top: 10px;
}

.redes a {
  padding: 10px;
}

.redes H4, .redes a {
  color: black;
  font-size: 18px;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.datos H4, .datos a {
  color: black;
  font-size: 18px;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyr {
  height: 33%;
}
.copyr H4 {
  color: black;
  font-size: 18px;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footerIcon:hover {
  transform: rotate(360deg);
  transition-duration: 1s;
}

/* ---------- FIN FOOTER ---------- */
@media only screen and (max-width: 425px) {
  .footerIcon {
    width: 40px;
  }

  .footer {
    width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  .fotoLea {
    display: none;
  }

  .formaBoton {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 3px solid black;
  }

  .creador:hover .formaBoton {
    background-color: #f7d9c4;
    color: white;
    border: 3px solid #627997;
    transition-duration: 0.5s;
  }
}
@media only screen and (min-width: 1024px) {
  .formaBoton {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 3px solid black;
  }

  .creador:hover .formaBoton {
    background-color: #f7d9c4;
    color: white;
    border: 3px solid #627997;
    transition-duration: 0.5s;
  }

  .creador:hover .fotoLea {
    opacity: 1;
    transform: translate(25px, 0px);
    transition-duration: 0.8s;
  }

  .copyr {
    padding-top: 10px;
  }

  .fotoLea {
    opacity: 0;
    position: sticky;
    padding-right: 1px;
  }

  .datos {
    margin-top: -45px;
    padding-left: 103px;
  }
}
.modalContacto {
  z-index: 15;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modalContactoMenu {
  z-index: 15;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.modal-contenido {
  background-color: white;
  width: 90%;
  padding: 12px 20px;
  margin: 4% auto;
  position: relative;
}
.modal-contenido textarea {
  resize: none;
  width: 100%;
  height: 100%;
  min-height: 100px;
  max-height: 200px;
}

#contactanos:target {
  color: white;
  opacity: 1;
  pointer-events: auto;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
}

.botonesForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.custom-control-label {
  padding-right: 30px;
}

.cerrarContactos {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: black;
  text-decoration: none;
  float: right;
  background-color: white;
  text-shadow: black 0px 0px 20px, black 0px 0px 20px;
  font-weight: bold;
  text-align: center;
}

.botonFormulario {
  margin: auto 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  pointer-events: all;
  border-radius: 10px;
  box-shadow: black 0px 0px 10px, black 0px 0px 10px;
}
.botonFormulario:hover {
  background-color: white;
  color: white;
  transition: all 0.5s;
}

.textoFormulario {
  color: black;
  font-size: 24px;
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  font-weight: bold;
}

::placeholder {
  color: black;
}

form input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  border: 0.5px solid black;
  box-shadow: black 0px 0px 10px, black 0px 0px 10px;
  color: black;
  padding: 2px;
  border-radius: 5px;
  background-color: white;
}

form input[type=radio] {
  box-shadow: none;
  border: 2px solid black;
  width: 18px;
  height: 18px;
}

input[type=radio]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

form select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 0.5px solid black;
  box-shadow: black 0px 0px 10px, black 0px 0px 10px;
  color: black;
  padding: 2px;
  border-radius: 5px;
  background-color: white;
}

form textarea {
  border: 0.5px solid black;
  box-shadow: black 0px 0px 10px, black 0px 0px 10px;
  color: black;
  padding: 2px;
  border-radius: 5px;
  background-color: white;
}

.opcion1 {
  padding-right: 8px;
}

@media only screen and (max-width: 700px) {
  .textoFormulario {
    color: black;
    font-size: 16px;
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: normal;
  }
}
@media only screen and (max-height: 736px) {
  .textoFormulario {
    color: black;
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 11px;
    font-weight: bold;
  }

  .modal-contenido {
    background-image: url(../images/contacto/fondoContacto2.png);
    width: 100%;
    padding: 10px 20px;
    margin: 2% auto;
    position: relative;
  }
}
.head {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.head h1 {
  margin-bottom: 30px;
  color: #f4acb7;
  text-transform: uppercase;
  font-size: 4em;
  font-family: GENISO;
  font-weight: bold;
  transition: translate(100);
}

.imageHeader {
  animation: opacar 5s;
  animation-fill-mode: forwards;
}

.textHeader {
  width: 100%;
  position: absolute;
}

#userName {
  color: #63dea8;
  font-size: 40px;
}

/*# sourceMappingURL=style.css.map */
