.body-customize {
  background-color: white;
}

.headerInstructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: GENISO;
  text-align: center;
  h1, h2 {
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
    color: #b5ecf8;
  }
}

.containerCustomize {
  margin-top: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bigRainbow {
  // border: 1px solid $secondaryColor;
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.four-colors {
  display: none;
}

.six-colors {
  display: none;
}

.eight-colors {
  display: none;
}

.colors {
  font-family: GENISO;
  text-align: center;
  width: 60%;
  height: 250px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  div {
    width: 50%;
    height: auto;
    min-width: 25px;
    min-height: 25px;
    max-width: 100px;
    max-height: 100px;
    border: 1px solid $primaryColor;
  }
  }
  
  .div1 {
     grid-area: 1 / 1 / 2 / 2;
     border: 2px solid black;
     background-color: #ff5d8f;
     width: 10px;
     height: 10px;
     }
  .div2 {
     grid-area: 1 / 2 / 2 / 3;
     background-color: #ff97b7;
     width: 10px;
     height: 10px;
     }
  .div3 {
     grid-area: 1 / 3 / 2 / 4;
     background-color: #ffacc5;
     width: 10px;
     height: 10px;
     }
  .div4 {
     grid-area: 2 / 1 / 3 / 2;
     background-color: #00b4d8;
     width: 10px;
     height: 10px;
     }
  .div5 {
     grid-area: 2 / 2 / 3 / 3;
     background-color: #48cae4;
     width: 10px;
     height: 10px;
     }
  .div6 {
     grid-area: 2 / 3 / 3 / 4;
     background-color: #90e0ef;
     width: 10px;
     height: 10px;
     }
  .div7 {
     grid-area: 3 / 1 / 4 / 2;
     background-color: #fae588;
     width: 10px;
     height: 10px;
     }
  .div8 {
     grid-area: 3 / 2 / 4 / 3;
     background-color: #fcefb4;
     width: 10px;
     height: 10px;
     }
  .div9 {
     grid-area: 3 / 3 / 4 / 4;
     background-color: #fdf8e1;
     width: 10px;
     height: 10px;
     }
  .div10 {
     grid-area: 4 / 1 / 5 / 2;
     background-color: #93ff96;
     width: 10px;
     height: 10px;
   }
  .div11 {
     grid-area: 4 / 2 / 5 / 3;
     background-color: #b2ffa8;
     width: 10px;
     height: 10px;
   }
  .div12 {
     grid-area: 4 / 3 / 5 / 4;
     background-color: #d0ffb7;
     width: 10px;
     height: 10px;
   }
  .div13 {
     grid-area: 5 / 1 / 6 / 2;
     background-color: #a564d3;
     width: 10px;
     height: 10px;
   }
  .div14 {
     grid-area: 5 / 2 / 6 / 3;
     background-color: #b66ee8;
     width: 10px;
     height: 10px;
   }
  .div15 {
     grid-area: 5 / 3 / 6 / 4;
     background-color: #c879ff;
     width: 10px;
     height: 10px;
   }
  .div16 {
     grid-area: 1 / 4 / 2 / 5;
     background-color: #56dcc4;
     width: 10px;
     height: 10px;
     }
  .div17 {
     grid-area: 1 / 5 / 2 / 6;
     background-color: #78e3d0;
     width: 10px;
     height: 10px;
     }
  .div18 {
     grid-area: 1 / 6 / 2 / 7;
     background-color: #89e6d5;
     width: 10px;
     height: 10px;
     }
  .div19 {
     grid-area: 2 / 4 / 3 / 5;
     background-color: #d6cbc2;
     width: 10px;
     height: 10px;
     }
  .div20 {
     grid-area: 2 / 5 / 3 / 6;
     background-color: #ded8ce;
     width: 10px;
     height: 10px;
     }
  .div21 {
     grid-area: 2 / 6 / 3 / 7;
     background-color: #cdc9cf;
     width: 10px;
     height: 10px;
     }
  .div22 {
     grid-area: 3 / 4 / 4 / 5;
     background-color: #6c757d;
     width: 10px;
     height: 10px;
     }
  .div23 {
     grid-area: 3 / 5 / 4 / 6;
     background-color: #adb5bd;
     width: 10px;
     height: 10px;
     }
  .div24 {
     grid-area: 3 / 6 / 4 / 7;
     background-color: #ced4da;
     width: 10px;
     height: 10px;
     }
  .div25 {
     grid-area: 4 / 4 / 5 / 5;
     background-color: #815f51;
     width: 10px;
     height: 10px;
     }
  .div26 {
     grid-area: 4 / 5 / 5 / 6;
     background-color: #aa8b7e;
     width: 10px;
     height: 10px;
     }
  .div27 {
     grid-area: 4 / 6 / 5 / 7;
     background-color: #d3b6ab;
     width: 10px;
     height: 10px;
     }
  .div28 {
     grid-area: 5 / 4 / 6 / 5;
     background-color: #03045e;
     width: 10px;
     height: 10px;
     }
  .div29 {
     grid-area: 5 / 5 / 6 / 6;
     background-color: #023e8a;
     width: 10px;
     height: 10px;
     }
  .div30 {
     grid-area: 5 / 6 / 6 / 7;
     background-color: #0077b6;
     width: 10px;
     height: 10px;
     }
  .div31 {
     grid-area: 1 / 7 / 2 / 8;
     background-color: #c879ff;
     width: 10px;
     height: 10px;
     }
  .div32 {
     grid-area: 1 / 8 / 2 / 9;
     background-color: #c879ff;
     width: 10px;
     height: 10px;
     }
  .div33 {
     grid-area: 1 / 9 / 2 / 10;
     background-color: #c879ff;
     width: 10px;
     height: 10px;
     }
  .div34 {
     grid-area: 2 / 7 / 3 / 8;
     background-color: #c879ff;
     width: 10px;
     height: 10px;
     }
  .div35 {
     grid-area: 2 / 8 / 3 / 9;
     background-color: #c879ff;
     width: 10px;
     height: 10px;
     }
  .div36 {
     grid-area: 2 / 9 / 3 / 10;
     background-color: #c879ff;
     width: 10px;
     height: 10px;
     }
  .div37 {
     grid-area: 3 / 7 / 4 / 8;
     background-color: #c879ff;
     width: 10px;
     height: 10px;
     }
  .div38 {
     grid-area: 3 / 8 / 4 / 9;
     background-color: #c879ff;
     width: 10px;
     height: 10px;
     }
  .div39 {
     grid-area: 3 / 9 / 4 / 10;
     background-color: #c879ff;
     width: 10px;
     height: 10px;
     }
  .div40 {
     grid-area: 4 / 7 / 5 / 8;
     background-color: #c879ff;
     width: 10px;
     height: 10px;
     }
  .div41 {
     grid-area: 4 / 8 / 5 / 9;
     background-color: #c879ff;
     width: 10px;
     height: 10px;
     }
  .div42 {
     grid-area: 4 / 9 / 5 / 10;
     background-color: #c879ff;
     width: 10px;
     height: 10px;
     }
  .div43 {
     grid-area: 5 / 7 / 6 / 8;
     background-color: #c879ff;
     width: 10px;
     height: 10px;
     }
  .div44 {
     grid-area: 5 / 8 / 6 / 9;
     background-color: #c879ff;
     width: 10px;
     height: 10px;
     }
  .div45 {
     grid-area: 5 / 9 / 6 / 10;
     background-color: #c879ff;
     width: 10px;
     height: 10px;
     }

.colorPalette {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // div {
  //   width: 50%;
  //   height: auto;
  //   min-width: 25px;
  //   min-height: 25px;
  //   max-width: 100px;
  //   max-height: 100px;
  //   border: 1px solid $primaryColor;
  // }
}

.pendants {
  font-family: GENISO;
  text-align: center;
  border: 1px solid $secondaryColor;
  width: 60%;
  height: auto;
}


// CUATRO COLORES

.semi-circulo-blanco {
  z-index: 11;
  top: 348px;
  position: absolute;
  width: 25px;
  height: 37px;
  border-top: 2px solid #555;
  border-right: 2px solid #555;
  border-left: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}

.semi-circulo {
  z-index: 10;
  top: 285px;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}

.semi-circulo2 {
  z-index: 9;
  top: 234px;
  position: absolute;
  width: 200px;
  height: 151px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 160px 160px 0 0;
}

.semi-circulo3 {
  z-index: 8;
  top: 176px;
  position: absolute;
  width: 300px;
  height: 209px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 215px 215px 0 0;
}

.semi-circulo4 {
  z-index: 7;
  top: 115px;
  position: absolute;
  width: 400px;
  height: 270px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
}

// SEIS COLORES

// .semi-circulo-blanco-six {
//   z-index: 11;
//   /* border-bottom: 1px solid white; */
//   top: 348px;
//   position: absolute;
//   width: 25px;
//   height: 37px;
//   border: 2px solid #555;
//   background: #ffffff;
//   -moz-border-radius: 100px 100px 0 0;
//   -webkit-border-radius: 100px 100px 0 0;
//   border-radius: 100px 100px 0 0;
// }

.semi-circulo-blanco-6 {
  z-index: 11;
  top: 348px;
  position: absolute;
  width: 25px;
  height: 37px;
  border-top: 2px solid #555;
  border-right: 2px solid #555;
  border-left: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}

.semi-circulo-six {
  z-index: 6;
  top: 297px;
  position: absolute;
  width: 90px;
  height: 88px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}

.semi-circulo2-six {
  z-index: 5;
    top: 259px;
    position: absolute;
    width: 159px;
    height: 126px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 160px 160px 0 0;
}

.semi-circulo3-six {
  z-index: 4;
  top: 217px;
  position: absolute;
  width: 221px;
  height: 168px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 215px 215px 0 0;
}

.semi-circulo4-six {
  z-index: 3;
    top: 176px;
    position: absolute;
    width: 290px;
    height: 209px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 215px 215px 0 0;
}

.semi-circulo5-six {
  z-index: 2;
  top: 145px;
  position: absolute;
  width: 354px;
  height: 240px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
}

.semi-circulo6-six {
  z-index: 1;
  top: 115px;
  position: absolute;
  width: 400px;
  height: 270px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
}



// OCHO COLORES

.semi-circulo-blanco-8 {
  z-index: 11;
  top: 348px;
  position: absolute;
  width: 25px;
  height: 37px;
  border-top: 2px solid #555;
  border-right: 2px solid #555;
  border-left: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}

.semi-circulo-eight {
  z-index: 8;
  top: 308px;
  position: absolute;
  width: 75px;
  height: 77px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}


.semi-circulo2-eight {
    z-index: 7;
    top: 279px;
    position: absolute;
    width: 127px;
    height: 106px;
    border: 2px solid #555;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 160px 160px 0 0;
}

.semi-circulo3-eight {
  z-index: 6;
  top: 246px;
  position: absolute;
  width: 178px;
  height: 139px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 215px 215px 0 0;
}

.semi-circulo4-eight {
  z-index: 5;
  top: 216px;
  position: absolute;
  width: 230px;
  height: 169px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 215px 215px 0 0;
}

.semi-circulo5-eight {
  z-index: 4;
  top: 190px;
  position: absolute;
  width: 280px;
  height: 195px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 215px 215px 0 0;
  
}

.semi-circulo6-eight {
  z-index: 3;
  top: 161px;
  position: absolute;
  width: 332px;
  height: 224px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
  
}

.semi-circulo7-eight {
  z-index: 2;
  top: 138px;
  position: absolute;
  width: 367px;
  height: 247px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
}

.semi-circulo8-eight {
  z-index: 1;
  top: 115px;
  position: absolute;
  width: 400px;
  height: 270px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
}

// MODALES

.botonConfirmar {
  color: white;
  border: 2px solid black;
  background-color: rgb(108, 206, 228);
  padding: 1px;
  margin: 43px;
}

.botonConfirmar2 {
  color: white;
  border: 2px solid black;
  background-color: rgb(108, 206, 228);
  padding: 1px;
  margin: 43px;
}

.modalContainer2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  display: none; 
  position: fixed; 
  z-index: 20;
  padding-top: 37px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalContainer2 .modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid lightgray;
  border-top: 10px solid #58abb7;
  width: 60%;
}

.modalContainer2 .modal-content3 {
  display: none;
  margin-left: 69px;
  background-color: #fefefe;
  margin-top: 200px;
  padding: 20px;
  border: 1px solid lightgray;
  border-top: 10px solid #58abb7;
  width: 60%;
}

// PRIMER MODAL 


.modalContainer {
  display: block;
  position: fixed; 
  z-index: 2;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modalContainer .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #fefefe;
  padding-bottom: 100px;
  padding-top: 100px;
  margin: auto;
  border: 1px solid lightgray;
  width: 80%;
  text-align: center;
}

.titulo-modal {
  margin-bottom: 20px;
}

.button-modal {
  color: rgb(0, 0, 0);
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
  background-color: #e5989b;
  margin: 3px;
  padding: 5px;
  border-radius: 3px;
  transition: background-color 250ms, box-shadow 250ms;
  &:hover {
    background-color: #d18a8d;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.6);
  }
}

.seleccionado {
  animation: latido 1.5s infinite;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

.bordeRestante {
  animation: latido 1.5s infinite;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.arrowCustomize {
  display: none;
  margin-left: 318px;
  z-index: 1;
  top: 161px;
  position: absolute;
  width: 100px;
  height: 100px;
  animation: rebote .8s infinite;
  transform: rotate(45deg);
}

.arrowCustomize2 {
  display: block;
  margin-left: 135px;
  z-index: 20;
  top: 345px;
  position: absolute;
  width: 100px;
  height: 100px;
  animation: rebote2Smart 0.8s infinite;
  transform: rotate(45deg);
}












// MEDIA QUERIES

@media screen and (min-width: 100px) and (max-width: 415px) {

.colors {
    font-family: GENISO;
    text-align: center;
    width: 60%;
    height: 180px;
}

.containerCustomize {
    margin-top: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arrowCustomize {
  margin-left: 135px;
  z-index: 20;
  top: 130px;
  position: absolute;
  width: 100px;
  height: 100px;
  animation: reboteSmart .8s infinite;
  transform: rotate(45deg);
}

.arrowCustomize2 {
  margin-left: 135px;
  z-index: 20;
  top: 345px;
  position: absolute;
  width: 100px;
  height: 100px;
  animation: rebote2Smart .8s infinite;
  transform: rotate(45deg);
}

  // CUATRO COLORES

.semi-circulo-blanco {
  z-index: 11;
  top: 305px;
  position: absolute;
  width: 22px;
  height: 26px;
  border-top: 2px solid #555;
  border-right: 2px solid #555;
  border-left: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}

.semi-circulo {
  z-index: 10;
  top: 259px;
  position: absolute;
  width: 85px;
  height: 72px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}

.semi-circulo2 {
  z-index: 9;
  top: 208px;
  position: absolute;
  width: 151px;
  height: 123px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 160px 160px 0 0;
}

.semi-circulo3 {
  z-index: 8;
  top: 156px;
  position: absolute;
  width: 228px;
  height: 175px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 215px 215px 0 0;
}

.semi-circulo4 {
  z-index: 7;
  top: 104px;
  position: absolute;
  width: 305px;
  height: 227px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
}

// SEIS COLORES

.semi-circulo-blanco-6 {
  z-index: 11;
  top: 287px;
  position: absolute;
  width: 25px;
  height: 24px;
  border-top: 2px solid #555;
  border-right: 2px solid #555;
  border-left: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}

.semi-circulo-six {
  z-index: 6;
  top: 249px;
  position: absolute;
  width: 75px;
  height: 62px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}

.semi-circulo2-six {
  z-index: 5;
  top: 217px;
  position: absolute;
  width: 123px;
  height: 94px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 160px 160px 0 0;
}

.semi-circulo3-six {
  z-index: 4;
  top: 187px;
  position: absolute;
  width: 166px;
  height: 124px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 215px 215px 0 0;
}

.semi-circulo4-six {
  z-index: 3;
  top: 158px;
  position: absolute;
  width: 212px;
  height: 153px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 215px 215px 0 0;
}

.semi-circulo5-six {
  z-index: 2;
  top: 133px;
  position: absolute;
  width: 260px;
  height: 178px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
}

.semi-circulo6-six {
  z-index: 1;
  top: 107px;
  position: absolute;
  width: 307px;
  height: 204px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
}

// OCHO COLORES

.semi-circulo-blanco-8 {
  z-index: 11;
  top: 302px;
  position: absolute;
  width: 17px;
  height: 22px;
  border-top: 2px solid #555;
  border-right: 2px solid #555;
  border-left: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}

.semi-circulo-eight {
  z-index: 8;
  top: 278px;
  position: absolute;
  width: 47px;
  height: 46px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}


.semi-circulo2-eight {
  z-index: 7;
  top: 256px;
  position: absolute;
  width: 83px;
  height: 68px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 160px 160px 0 0;
}

.semi-circulo3-eight {
  z-index: 6;
  top: 236px;
  position: absolute;
  width: 117px;
  height: 88px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 215px 215px 0 0;
}

.semi-circulo4-eight {
  z-index: 5;
  top: 213px;
  position: absolute;
  width: 153px;
  height: 111px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 215px 215px 0 0;
}

.semi-circulo5-eight {
  z-index: 4;
  top: 191px;
  position: absolute;
  width: 187px;
  height: 133px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 215px 215px 0 0;
}

.semi-circulo6-eight {
  z-index: 3;
  top: 164px;
  position: absolute;
  width: 223px;
  height: 160px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
}

.semi-circulo7-eight {
  z-index: 2;
  top: 136px;
  position: absolute;
  width: 258px;
  height: 188px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
}

.semi-circulo8-eight {
  z-index: 1;
  top: 108px;
  position: absolute;
  width: 294px;
  height: 216px;
  border: 2px solid #555;
  background: white;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 200px 200px 0 0;
}

.seleccionado {
  animation: latido 1.5s infinite;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}
}