@keyframes opacar {
  to {
    filter: opacity(.2);
  }
}

@keyframes latido {
  from {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    }
  10% {
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
  } 
  20% {
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  } 
  30% {
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  } 
  40% {
    border-top: 6px solid black;
    border-left: 6px solid black;
    border-right: 6px solid black;
  }
  50% {
  border-top: 7px solid black;
  border-left: 7px solid black;
  border-right: 7px solid black;
  } 
  60% {
    border-top: 6px solid black;
    border-left: 6px solid black;
    border-right: 6px solid black;
   }
   70% {
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
   }
   80% {
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
   }
   90% {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
   }
  to {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
     }
}

@keyframes rebote {
  0%   {position:absolute; top:150px;}
  25%  {position:absolute; top:150px;}
  50%  {position:absolute; top:120px;}
  75%  {position:absolute; top:120px;}
  100% {position:absolute; top:150px;}
}

@keyframes rebote2 {
  0%   {position:absolute; top:475px;}
  25%  {position:absolute; top:475px;}
  50%  {position:absolute; top:455px;}
  75%  {position:absolute; top:455px;}
  100% {position:absolute; top:475px;}
}

@keyframes reboteSmart {
  0%   {position:absolute; top:130px;}
  25%  {position:absolute; top:130px;}
  50%  {position:absolute; top:110px;}
  75%  {position:absolute; top:110px;}
  100% {position:absolute; top:130px;}
}

@keyframes rebote2Smart {
  0%   {position:absolute; top:345px;}
  25%  {position:absolute; top:345px;}
  50%  {position:absolute; top:325px;}
  75%  {position:absolute; top:325px;}
  100% {position:absolute; top:345px;}
}