.body-market {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.market {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.menu-bar-market {
  margin: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.menu-items {
  padding: 3px;
  margin: 2px;
  font-size: 16px;
  text-align: center;
  background-color: #b4b4b4;
  border: 2px solid #b4b4b4;
  color: white;
    &:hover {
      cursor: pointer;
      transition-duration: .4s;
      background-color: white;
      color: #b4b4b4;
      border: 2px solid #b4b4b4;
    }
  }


.img-200 {
  width: 200px;
}

.market-items {
  color: #312926;
  // background-color: #fff7f7;
  width: 220px;
  height: 360px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  // border: 2px solid #cce3de;
  border-radius: 3px;
}

.items-container {
  margin: 20px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  }


.button-market-item {
  margin-bottom: 8px;
  padding: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background-color: white;
  border: 1px solid #e8dada;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
    color: white;
    background-color: #0000005b;
  }
}

@media only screen and (max-width: 600px) {

// .menuPrincipal {
//     font-size: 11px;
//     opacity: 1;
//     position: fixed;
//     top: 0;
//     color: white;
//     width: 100%;
//     height: 30px;
//     background-color: #b4b4b4;
//     &:hover {
//       transition: .5s;
//       opacity: 1; 
//     }
//     nav {
//       margin-left: 10px;
//       display: flex;
//       flex-direction: row;
//       justify-content: space-around;
//       align-items: center;
//       width: 100%;
//       a {
//         color: white;
//         &:after {
//           content: "";
//           display: block;
//           margin: auto;
//           height: 2px;
//           width: 0px;
//           transition: all .7s;
//           }
//           &:hover:after { 
//           width: 100%;
//           background: white;
//           }
//         }
//       }
//   }
  
//   .carrito {
//     margin-right: 20px;
//     width: 30px;
//     &:hover {
//       transform: scale(1.1);
//     }
//   }  


.menu-items {
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  // background-color: #b4b4b4;
  color: white;

  &:hover {
    cursor: pointer;
    color: black;
    box-shadow: 1px 1px 5px white;
  }
}

.market{
  margin-top: 35px;
}

.img-200 {
  overflow: hidden;
  width: 100%;
}

.market-items {
  margin: 7px;
  width: 140px;
  height: 270px;
}

.items-container {
  margin: 20px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  img {
    &:hover {
      transform: scale(1.2);
      transition-duration: .5s;
    }
  }
}
}
