.body-market {
  background-color: #fff1e6;
  font-family: GENISO;
}

.market {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.menu-bar-market {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-items {
  padding: 3px;
  margin-right: 5px;
  font-size: 30px;
  text-align: center;
  background-color: white;
  border: 1px solid white;
  color: #ffc6ff;
    &:hover {
      cursor: pointer;
      color: black;
      box-shadow: 1px 1px 5px white;
    }
  }


.img-200 {
  width: 200px;
}

.market-items {
  background-color: #eddcd2;
  width: 210px;
  height: 300px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
}

.items-container {
  margin: 20px auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  }


.button-market-item {
  margin-bottom: 2px;
  padding: 1px;
  font-family: GENISO;
  color: white;
  background-color: #f7d9c4;
  border: 1px solid white;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
    background-color: #0000005b;
  }
}

@media only screen and (max-width: 600px) {
  .menu-items {
    font-size: 15px;
}

.img-200 {
  width: 100px;
}

.market-items {
  width: 110px;
  height: 170px;
}

.items-container {
  margin: 20px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  img {
    &:hover {
      transform: scale(1.5);
      border: 2px solid white;
    }
  }
}
}
