/* MENU SLIDE */

.cbp-spmenu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background: rgba(255, 255, 255, 0.822);
	position: fixed;
}

.cbp-spmenu h4 {
	color: #f4acb7;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 50px;
	left: 0;
	z-index: 6;
	overflow: hidden;
}

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

/* TRANSITIONS */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* FIN MENU SLIDE */

@media only screen and (max-width: 520px) {

	.objeto1, .objeto2, .objeto3, .objeto4, .objeto5, .objeto6 {
		width: 35px;
		height: 35px;
		background-size: cover;
	}

}

@media only screen and (max-width: 890px) {
	.cbp-spmenu .objeto1 h4 {
		font-size: 12px;
	}

	.cbp-spmenu .objeto2 h4 {
		font-size: 12px;
	}

	.cbp-spmenu .objeto3 h4 {
		font-size: 12px;
	}

	.cbp-spmenu .objeto4 h4 {
		font-size: 12px;
	}

	.cbp-spmenu .objeto5 h4 {
		font-size: 12px;
	}

	.cbp-spmenu .objeto6 h4 {
		font-size: 12px;
	}
	
}